{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "stage-2",
    "react",
    "flow"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2",
        "react"
      ]
    }
  }
}
