// Variables

$colors: (
  bg-0-top: #ffffff,
  bg-0-bottom: #cccccc,
  bg-0-nav: #b2b2b2,
  bg-0-footer: #7d7d7d,
  bg-1-top: #293256,
  bg-1-bottom: #5572a4,
  bg-1-nav: #1d233c,
  bg-1-footer: #293256,
  bg-2-top: #ffa991,
  bg-2-bottom: #dd5757,
  bg-2-nav: #b27665,
  bg-2-footer: #c34040,
  bg-3-top: #3e9e94,
  bg-3-bottom: #19594d,
  bg-3-nav: #2c6e67,
  bg-3-footer: #10453b,
  bg-4-top: #fec42e,
  bg-4-bottom: #d69b00,
  bg-4-nav: #b18920,
  bg-4-footer: #b18920,
  bg-5-top: #2bbbec,
  bg-5-bottom: #2d5cae,
  bg-5-nav: #1e83a5,
  bg-5-footer: #214c98,
  bg-6-top: #a3228e,
  bg-6-bottom: #66339d,
  bg-6-nav: #721863,
  bg-6-footer: #55258a,
  bg-7-top: #a5bee4,
  bg-7-bottom: #48648f,
  bg-7-nav: #73859f,
  bg-7-footer: #334d75,
  bg-8-top: #88d0c3,
  bg-8-bottom: #00a287,
  bg-8-nav: #5f9188,
  bg-8-footer: #00846e,
  primary-1: #c9dfff,
  primary-2: #c34040,
  primary-3: #7aeed9,
  primary-4: #b18920,
  primary-5: #214c98,
  primary-6: #ff98d8,
  primary-7: #334d75,
  primary-8: #00846e,
  secondary-0: #fff,
  secondary-1: #c9dfff,
  secondary-2: #ffa991,
  secondary-3: #7aeed9,
  secondary-4: #ffdc81,
  secondary-5: #d3f7ff,
  secondary-6: #ff98d8,
  secondary-7: #a5bee4,
  secondary-8: #88d0c3,

  // elements
  text : #fff,
  fixed: rgba(0, 0, 0, 0.3),
);


// Functions

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unkown '#{$key}' in $colors.";
  @return null;
}
