// Variables

$colors: (
  bg-1-top: #293256,
  bg-1-bottom: #5572a4,
  bg-1-nav: #1d233c,
  bg-1-footer: #293256,
  bg-2-top: #ffa991,
  bg-2-bottom: #dd5757,
  bg-2-nav: #b27665,
  bg-2-footer: #c34040,
  bg-3-top: #3e9e94,
  bg-3-bottom: #19594d,
  bg-3-nav: #2c6e67,
  bg-3-footer: #10453b,

  // elements
  text : #fff,
);


// Functions

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unkown '#{$key}' in $colors.";
  @return null;
}
