@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin fade-in {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &.-run-fade {
    animation-name: fade-in;
  }
}
