body {
  color: #555;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}

svg {
  border: 0;
  display: block;
  margin: 0 auto;
}

text {
  fill: currentColor;
}

circle {
  transition: 0.3s fill;
}
