/**
 * Utilitize for manipulating padding. Useful for cards and other
 * container elements. Padding is associated with the Material Design
 * grid system
 */

$unit: 8px;

@for $i from 0 through 10 {
  .pad-#{ $i } {
    padding: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .pad-#{ $i }-left {
    padding-left: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .pad-#{ $i }-right {
    padding-right: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .pad-#{ $i }-top {
    padding-top: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .pad-#{ $i }-bottom {
    padding-bottom: $unit * $i;
  }
}
