/**
 * Utilitize for manipulating padding. Useful for cards and other
 * container elements. Padding is associated with the Material Design
 * grid system
 */

$unit: 8px;

@for $i from 0 through 10 {
  .margin-#{ $i } {
    margin: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .margin-#{ $i }-left {
    margin-left: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .margin-#{ $i }-right {
    margin-right: $unit * $i;
  }
}

@for $i from 0 through 10 {
  .margin-#{ $i }-top {
    margin-top: $unit * $i;
  }

  .margin-#{ $i }-top-reverse {
    margin-top: $unit * -$i;
  }
}

@for $i from 0 through 10 {
  .margin-#{ $i }-bottom {
    margin-bottom: $unit * $i;
  }
}
