.textfield {
  border: 1px solid rgba(#000, 0.2);
  border-width: 0 0 1px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 0;;
  margin-bottom: 8px;
  transition: 0.3s border-color;
  width: 100%;

  &:focus {
    border-color: $theme-primary;
    border-width: 0 0 2px;
    margin-bottom: 7px;
    outline: none;
  }
}
