html,
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-text-size-adjust: 100%
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
a:hover {
  color: #E61875;
}

.text-display {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}

.text-body {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.textfield {
  padding: 8px 16px;
}

.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 12px 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  color: #E61875;
}

input:not([type=submit]) {
  border: 0;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

.header {
  background: #3F51B5;
  color: white;
  padding: 48px 0 16px;
}

.aside {
  background: white;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 16px 0 0;
  padding-bottom: 8px;
}

@media all and (min-width: 768px) {
  .aside {
    float: right;
    margin: -48px 0 0;
    width: 30%;
  }
}

.subhead {
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.54;
  padding: 8px 16px 4px;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 16px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  padding: 0 16px 0 0;
  line-height: 38px;
  overflow: hidden;
}

.list li + li {
  border-top: 1px solid #d9d9d9;
}

.list .btn {
  float: right;
}

@media all and (min-width: 768px) {
  .list {
    max-width: 66%;
  }
}

.warn-no-js {
  background: #fc4;
  color: #431;
  font-size: 13px;
  left: 0;
  margin: 0;
  padding: 12px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
