@import "../../style.css";

.pane {
  color: #eee;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.list {
  overflow: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.item {
  align-items: center;
  background: #2a3346;
  box-shadow: inset 0 -1px 0 rgba(29, 30, 41, 0.97);
  color: #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 4px 16px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}

.item:after {
  background: var(--color-highlight);
  bottom: 1px;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-4px);
  width: 4px;
}

.item.head {
  color: white;
}

.item.head:after {
  transform: none;
  transition: 0.3s all;
}

.emblem {
  background: currentColor;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-right: 4px;
  transform: translateY(-1px);
  transition: 0.4s all;
  vertical-align: middle;
  width: 6px;
}

.name {
  font-family: var(--font-code);
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.focused {
  background: rgba(255, 255, 255, 0.1);
}

.disabled {
  opacity: 0.5;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: var(--z-tooltip);
}

.action {
  background: 50% 50% no-repeat;
  background-size: 18px 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 12px;
  height: 36px;
  opacity: 0.54;
  padding: 0;
  position: relative;
  text-align: center;
  transition: 0.2s all;
  width: 36px;
}

.action > span {
  background: rgba(0, 0, 0, 0.88);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.88);
  font-size: 10px;
  line-height: 1;
  left: 50%;
  opacity: 0;
  padding: 2px 5px 4px;
  position: absolute;
  top: 32px;
  transform: translate(-50%, 5px) translateZ(0);
  transition: 0.2s all;
}

.action:hover {
  border-color: rgba(255, 255, 255, 0.1);
  opacity: 0.88;
}

.action:hover > span {
  opacity: 1;
  transform: translate(-50%, 0) translateZ(0);
  transition-delay: 1000ms;
}

.detail {
  composes: action;
}

.checkout {
  composes: action;
  background-image: url('../../assets/checkout.svg');
}

.show {
  composes: action;
  background-image: url('../../assets/show.svg');
}

.hide {
  composes: action;
  background-image: url('../../assets/hide.svg');
}

.remove {
  composes: action;
  background-image: url('../../assets/delete.svg');
}

.resizer {
  background: transparent;
  cursor: col-resize;
  height: 100%;
  position: absolute;
  right: 0;
  user-select: none;
  width: 5px;
  z-index: 2;
}
