@for $i from 1 through $section-count {
  .heading-color-#{$i} {
    color: color(primary-#{$i});
  }

  .subheading-color-#{$i} {
    color: color(secondary-#{$i});
  }

  .button-color-#{$i} {
    background-color: color(secondary-#{$i});
  }
}
