.fade-in {
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-timing-function: ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
