$cta-border-height: 3px;
$cta-bottom-padding: 6px;

.footer {
  background-color: color(bg-0-footer);
  height: $footer-height;
  position: relative;
  transition: transition(background-color);
  width: 100%;
  z-index: 2;

  @include breakpoint(medium-desktop-up) {  //from tablet up, if the screen is long enough (i.e. enough space), fix footer to bottom
    @media (min-height: 901px) {
      bottom: 0;
      position: fixed;

      @for $i from 1 through $section-count {
        .bg-color-#{$i} & {
          background-color: color(bg-#{$i}-footer);

          .viget-logo svg {
            fill: color(secondary-#{$i});
          }

          .footer__cta {
            color: color(secondary-#{$i});
          }
        }
      }
    }
  }

  @include breakpoint(medium-desktop-up) {  //from desktop up, if there isn't enough space, make footer absolute so it goes over content and doesn't move elems around
    @media (max-height: 900px) {
      position: absolute;
    }
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    @include breakpoint(medium-desktop-up) {
      flex-direction: row;
    }
  }

  .viget-logo {
    margin-bottom: rem(10);

    @include breakpoint(medium-desktop-up) {
      margin-bottom: 0;
      margin-right: rem(30);
    }

    svg {
      fill: color(secondary-0);
      transition: transition(fill);
    }
  }
}

.footer__cta {
  border-bottom: $cta-border-height solid;
  color: color(secondary-0);
  font-size: rem(14);
  padding-bottom: $cta-bottom-padding;
  text-decoration: none;
  text-transform: uppercase;
  transition: transition(color);
}
