.footer {
  align-items: center;
  background: lightgray;
  display: flex;
  height: 167px;
  justify-content: center;

  .viget-logo {
    display: block;
  }
}

.footer__cta {
  font-size: rem(14);
  text-transform: uppercase;
}
