.navigation {
  background: rgba(#000, 0.3);
  color: white;
  height: $nav-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .wrapper {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
  }
}
