.navigation {
  background: color(fixed);
  box-shadow: 0 0 17px 0 rgba(0,0,0,0.3);
  color: white;
  height: $nav-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .wrapper {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
  }
}
