$section-top-padding-mobile: $nav-height + 49px;
$section-top-padding-desktop: $nav-height + 110px;
$content-width: calc(45vw - #{$page-gutter-desktop});
$graphic-width: calc(50vw - #{$page-gutter-desktop});
$split-bg-height-mobile: 471px;
$split-bg-height-desktop: 291px;

.section {
  background-color: color(bg-0-bottom);
  min-height: 100vh;
  padding-bottom: 60px;
  padding-top: $section-top-padding-mobile;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  @include breakpoint(medium-desktop-up) {
    padding-top: $section-top-padding-desktop;
  }

  &::before {  //top of half split bg
    background-color: color(bg-0-top);
    content: '';
    height: $split-bg-height-mobile;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @include breakpoint(medium-desktop-up) {
      height: $split-bg-height-desktop;
    }
  }

  &::after {  //fade to dark as sections scroll
    background: #000;
    content: '';
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: opacity 0.5s, 0s transform 0.55s;
    width: 100%;
  }

  @for $i from 1 through $section-count {
    &.-bg-#{$i} {
      background-color: color(bg-#{$i}-bottom);

      &::before {
        background-color: color(bg-#{$i}-top);
      }
    }
  }

  .wrapper {
    @include breakpoint(small-desktop-down) {
      padding-bottom: 180px;
      position: relative;
    }

    @include breakpoint(medium-desktop-up) {
      display: flex;
      justify-content: space-between;
    }
  }
}

// CONTENT

.section__content {
  height: 100%;
  max-width: 533px;
  // padding-right: 20px;
  flex-basis: $content-width;
  padding-right: 0;

  @include breakpoint(small-desktop-down) {
    left: 20px;
    margin: 0 auto;
    padding-left: rem(40);
    right: 20px;
    width: 100%;
  }

  @include breakpoint(medium-desktop-up) {
    left: calc(55vw - #{$page-gutter-desktop});
    order: 2;
    top: $section-top-padding-desktop;
  }
}


// CONTENT - containers

.text-container {
  margin-bottom: rem(50);
}


// CONTENT - elements

.section__content__heading {
  @include fade-in;
  font-size: rem(30);
  margin-bottom: rem(40);
  position: relative;

  @for $i from 1 through $section-count {
    .-bg-#{$i} & {
      color: color(primary-#{$i});
    }
  }

  @include breakpoint(medium-desktop-up) {
    margin-bottom: rem(63);
  }

  span {
    @include font-family-bold;
    display: block;
    font-size: rem(14);
    margin-bottom: rem(5);
    text-transform: uppercase;

    @include breakpoint(small-desktop-down) {
      &:not(.-end) {
        left: rem(-40);
        position: absolute;
        top: 0.35em;
      }
    }
  }
}

.section__content__subheading {
  @include fade-in;
  @include font-family-medium;
  color: color(secondary-1);
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  @for $i from 2 through $section-count {
    .-bg-#{$i} & {
      color: color(secondary-#{$i});
    }
  }
}

.section__content__text {
  @include fade-in;
  color: color(text);
  font-size: rem(18);
  line-height: rem(27);

  .-bg-0 &,
  .-bg-9 & {
    color: #000;
  }
}

.section__toggle-btn {
  @include fade-in;
  align-items: center;
  background-color: color(secondary-1);
  border-radius: 10px;
  color: color(bg-1-footer);
  display: flex;
  fill: color(bg-1-footer);
  font-size: rem(18);
  height: 57px;
  justify-content: center;
  text-transform: uppercase;
  width: 217px;

  @for $i from 2 through $section-count {
    .-bg-#{$i} & {
      background-color: color(secondary-#{$i});
      color: color(bg-#{$i}-footer);
      fill: color(bg-#{$i}-footer);
    }
  }
}


// GRAPHIC

.section__graphic {
  @include breakpoint(small-desktop-down) {
    padding-top: 30vh;
  }

  @include breakpoint(medium-desktop-up) {
    width: $graphic-width;

    @supports (position: sticky) or (position: -webkit-sticky) {
      flex-basis: $graphic-width;
    }
  }

  @supports (position: sticky) or (position: -webkit-sticky) {
    padding-top: 0;
  }
}

.section__graphic__figure {
  height: calc(100vw - (#{$page-gutter-mobile} * 2) - 15px);
  margin: 0 auto;
  max-height: 600px;
  max-width: 600px;
  position: relative;

  @include breakpoint(medium-desktop-up) {
    height: $graphic-width;
    margin-left: 0;
    margin-right: 0;
  }
}
