.section {

  @include breakpoint(large-desktop-up) {
    display: flex;

    .section__content,
    .section__graphic {
      flex-basis: 50%;
    }

    .section__content {
      order: 2;
    }
  }
}

.section__content__heading {
  font-size: rem(30);

  span {
    @include font-family-bold;
    display: block;
    font-size: rem(14);
    margin-bottom: rem(5);
  }
}

.section__content__subheading {
  @include font-family-medium;
  text-transform: uppercase;
  margin-bottom: rem(12);
}

.section__content__text {
  font-size: rem(18);
  line-height: rem(27);
}



body {
  background: slateblue;
  //min-height: 100vh;
}

main {
  padding-top: $nav-height;
}
