$section-top-padding-mobile: $nav-height + 49px;
$section-top-padding-desktop: $nav-height + 110px;

.section {
  padding-top: $section-top-padding-mobile;

  @include breakpoint(large-desktop-up) {
    display: flex;
    padding-top: $section-top-padding-desktop;

    @supports (position: sticky) or (position: -webkit-sticky) {
      justify-content: space-between;
    }
  }
}

// CONTENT

.section__content {
  height: 100%;
  padding-right: 20px;
  position: fixed;
  width: 100%;

  @include breakpoint(large-desktop-up) {
    right: 2%;
    width: 45%;
  }

  @supports (position: sticky) or (position: -webkit-sticky) {
    padding-right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: $section-top-padding-mobile;

    @include breakpoint(large-desktop-up) {
      order: 2;
      top: $section-top-padding-desktop;
    }
  }
}


// CONTENT - containers

.text-container {
  margin-bottom: rem(50);
  max-width: 550px;

  @include breakpoint(medium-desktop-down) {
    margin: 0 auto rem(50);
    padding-left: rem(40);
  }
}


// CONTENT - elements

.section__content__heading {
  font-size: rem(30);
  margin-bottom: rem(40);
  position: relative;
  transition: transition(color);

  @for $i from 1 through $section-count {
    .bg-color-#{$i} & {
      color: color(primary-#{$i});
    }
  }

  @include breakpoint(large-desktop-up) {
    margin-bottom: rem(63);
  }

  span {
    @include font-family-bold;
    display: block;
    font-size: rem(14);
    margin-bottom: rem(5);
    text-transform: uppercase;

    @include breakpoint(medium-desktop-down) {
      &:not(.-end) {
        left: rem(-40);
        position: absolute;
        top: 0.35em;
      }
    }
  }
}

.section__content__subheading {
  @include font-family-medium;
  color: color(secondary-1);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  transition: transition(color);

  @for $i from 2 through $section-count {
    .bg-color-#{$i} & {
      color: color(secondary-#{$i});
    }
  }
}

.section__content__text {
  color: color(text);
  font-size: rem(18);
  line-height: rem(27);

  &.-end {
    color: #000;
  }
}

.section__toggle-btn {
  background-color: color(secondary-1);
  border-radius: 10px;
  color: color(bg-1-footer);
  display: flex;
  fill: color(bg-1-footer);
  font-size: rem(18);
  height: 57px;
  justify-content: center;
  text-transform: uppercase;
  transition: transition(all);
  width: 217px;

  @for $i from 2 through $section-count {
    .bg-color-#{$i} & {
      background-color: color(secondary-#{$i});
      color: color(bg-#{$i}-footer);
      fill: color(bg-#{$i}-footer);
    }
  }
}


// GRAPHIC

.section__graphic {
  @include breakpoint(medium-desktop-down) {
    padding-top: 30vh;
  }

  @include breakpoint(large-desktop-up) {
    flex-basis: 600px;
  }

  @supports (position: sticky) or (position: -webkit-sticky) {
    padding-top: 0;
  }
}

.section__graphic__figure {
  margin: 0 auto 80vh;
  max-height: 600px;
  max-width: 600px;
  position: relative;

  @include breakpoint(large-desktop-up) {
    margin-bottom: 30vh;

    &::after {
      bottom: -17vh;
      content: url('../images/arrow.svg');
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      width: 17px;
    }
  }

  &:last-child {
    @include breakpoint(large-desktop-up) {
      margin-bottom: 60vh;

      &::after {
        content: ''
      }
    }
  }

  .microcosm-graphic {
    height: 100%;
    width: 100%;
  }
}
