$theme-primary: #00BCD4;
$theme-accent: #FF4081;

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #f9f9f9;
  font: normal 16px/100% Roboto, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
}

@import 'atoms/margin';
@import 'atoms/padding';
@import 'atoms/container';
@import 'atoms/label';
@import 'atoms/textfield';
@import 'atoms/fill';
@import 'atoms/color';
@import 'atoms/type';
@import 'atoms/shadow';
@import 'atoms/radius';
@import 'atoms/flex';
@import 'atoms/align';
@import 'atoms/hide';
@import 'atoms/icon';
@import 'atoms/ruled';
@import 'atoms/fab';
@import 'atoms/position';

@import 'molecules/list';
@import 'molecules/bottomsheet';
