$header-height-sm: 60px;
$header-height-lg: 100px;
$left-padding-sm: rem(20);
$left-padding-lg: rem(40);

.browser-graphic {
  @include font-family-medium;
  background: #fff;
  border-color: #e4e4e4;
  border-radius: 10px;
  border-style: solid;
  border-width: 40px 20px 20px;
  height: 76vw;
  max-height: inherit;
  text-transform: uppercase;

  &::before {
    color: #bebebe;
    content: "\2022\2022\2022";
    font-size: rem(33);
    position: absolute;
    top: -2px;
  }

  header {
    align-items: center;
    border-bottom: 5px solid #e4e4e4;
    color: #ff0000;
    display: flex;
    font-size: rem(20);
    height: $header-height-sm;
    padding-left: $left-padding-sm;

    @include breakpoint(small-tablet-up) {
      font-size: rem(27);
      height: $header-height-lg;
      padding-left: $left-padding-lg;
    }
  }

  main {
    display: flex;
    height: calc(100% - #{$header-height-sm});

    @include breakpoint(small-tablet-up) {
      height: calc(100% - #{$header-height-lg});
    }
  }

  .content,
  .graphic {
    flex-basis: 50%;
  }

  .graphic {
    background: linear-gradient(#5385e1 70%, #3a69c0 70%);
  }

  .graphic__img {
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    top: 43%;
  }

  .content {
    align-items: center;
    display: flex;
  }

  .content__list {
    list-style-type: upper-alpha;
    padding-left: $left-padding-sm * 2;

    @include breakpoint(small-tablet-up) {
      padding-left: $left-padding-lg * 2;
    }

    li {
      color: #646464;
      margin: rem(10) 0;

      @media screen and (min-width: 472px) {
        font-size: rem(23);
        margin: rem(20) 0;
      }

      @include breakpoint(small-tablet-up) {
        font-size: rem(30);
        margin: rem(30) 0;
      }

      @include breakpoint(large-tablet-up) {
        font-size: rem(34);
        padding-left: rem(20);
      }
    }
  }
}
