:root {
  --color-highlight: #ffd538;
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-code: Inconsolata, Monaco, monospace;
  --z-tooltip: 2;
  --z-top: 10;
}

body {
  margin: 0;
}

:global(#app) {
  font-family: var(--font-system);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 100%;
}
